page-estadisticas {
    .master {
        background-image: url("../assets/imgs/lio.png");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}