newuser {
    
    .login-taka {
    background-color: #C9283E;
    text-align: justify;
    padding: 0.5em;
    width: 75%;

}
    .login-new {
    background-color: #F0433A;
    margin: 0 auto;
    padding: 0.5em;
    width: 75%;
}

.center{
    margin: 50% auto;
    text-align: center;
}

.loginBox {
    margin-top: 12em;
    margin-bottom: 0em;
}

.botonCrear{
    background-color: #C9283E;
    
}
.botonCancelar{
    background-color:darksalmon;
}

div{
    text-align: center;
}
}