<!-- Generated template for the NewuserComponent component -->
<form>

  <ion-item>
    <ion-input type="text" placeholder="Nombre usuario"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>


  <ion-item>
    <ion-input type="Password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="Password" placeholder="Repetir password"></ion-input>
  </ion-item>

  <div>
      <button ion-button class="login-taka" medium style="margin:  1.5em 0em 1.5em 0em">Crear  usuario</button>
      <button ion-button class="login-new" medium>Cancelar</button>
  </div>

</form>




